.new-playlist-modal {
	display: flex;
	flex-direction: column;
	margin: 1em;
	padding: 1em;
	background-color: var(--shade-0);
	/* border-radius: 1rem; */
	/* position: fixed;	 */
	width: fit-content;
}

.btn-create-playlist {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2) !important;
	padding: 0.5em;
	margin: 0.5em;
	color: red;
	min-width: 30%;
	margin-left: auto;
	font-weight: 600;
	cursor: pointer;

    font-weight: 700;
}

.btn-create-playlist:hover {
	transform: scale(1.01);
}

.playlist-modal-header {
	display: flex;
	padding: 0.5em;
	justify-content: space-between;
}

.playlist-container {
	display: flex;
	grid-gap: 1em;
	gap: 1em;
	width: 100%;
	flex-direction: column;
	margin-top: 1em;
}

.input-playlist {
	border: 2px solid gray;
	padding: 0.3em;
	font-size: 1em;
}

.btn-initial-create {
	font-weight: 700;
    padding: 0.7em 2em;
    margin: 0.5rem;
    font-size: 1em;
    font-weight: 500;
    background-color: var(--primary-color);
    color: white;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-align: center;
    min-width: 20%;
    display: flex;
    justify-content: center;
    grid-gap: 0.5em;
    gap: 0.5em;
    float: right;
    outline: nonw;
    border: none;
}


.playlist-container-list{
	display: flex;
    flex-wrap: wrap;
}

