.videolist-container {
	justify-content: center;
}

.categories-batch {
	cursor: pointer;
	padding: 0.5em;
	margin: 0.5em;
	background-color: var(--boldy-light-purple);
	background-color: var(--boldy-dark-purple);
	color: white;
	border-radius: 10px;
	/* width: 100%; */
}

.categories-batch-container::-webkit-scrollbar {
	width: 1rem;
}
.categories-batch-container::-webkit-scrollbar-track {
	background-color: var(--shade-1);
}
.categories-batch-container::-webkit-scrollbar-thumb {
	background-color: var(--btn-text-color-2);
	border-radius: 1rem;
	border: 3px solid var(--shade-1);
}

.categories-batch-container::-webkit-scrollbar :hover {
	transform: scale(1.2);
	cursor: pointer;
}

.full-width {
	width: 100%;
}

/* //linear-gradient(12deg, #64797e 20%, #d8b681) */
/* linear-gradient(12deg, #3b5258 20%, #899ca8) */
.categories-batch-container {
	display: flex;
	overflow-x: scroll;
	overflow-x: hidden;
	width: 95vw;
	height: fit-content;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: var(--bg-color);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.cateogory-container-batch-icons {
	padding: 0.5em;
	margin: 0.3em;
	color: white;
	border-radius: 0.3em;
	cursor: pointer;
	display: flex;
}

.icons-cateogry-layer {
	display: flex;
	width: 80vw;

	overflow-x: scroll;
}

.cateogory-container-batch-icons::-webkit-fleetsbar {
	width: 1rem;
}
.cateogory-container-batch-icons::-webkit-fleetsbar-track {
	background-color: var(--shade-1);
}
.cateogory-container-batch-icons::-webkit-fleetsbar-thumb {
	background-color: var(--btn-text-color-2);
	border-radius: 1rem;
	border: 3px solid var(--shade-1);
}

.cateogory-container-batch-icons::-webkit-fleetsbar :hover {
	transform: scale(1.2);
	cursor: pointer;
}

.icons-cateogry-layer {
	display: flex;
	width: 80vw;

	overflow-x: scroll;
}

.icons-cateogry-layer::-webkit-scrollbar {
	width: 0.5rem;
}
.icons-cateogry-layer::-webkit-scrollbar-track {
	background-color: var(--shade-1);
}
.icons-cateogry-layer::-webkit-scrollbar-thumb {
	background-color: var(--btn-text-color-2);
	border-radius: 1rem;
	border: 2px solid var(--shade-1);
}

.icons-cateogry-layer::-webkit-scrollbar:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.category-layer-container{
	width: 100%;
}

form{
	background: white;
    border-radius: 2em;
    margin: 0.5em 2em;
    display: flex;
    flex-direction: row;
	align-items: center;
	width: 60vw;
	justify-content: space-between;
	padding: 0 0.5em;
}

@media screen and (max-width: 1030px) {
	.icons-cateogry-layer {
		width: 77vw;
	}
}

@media screen and (max-width: 780px) {

	.icons-cateogry-layer {
		width: 70vw;
	}
	.category-layer-img{
		height: 1.5em;
	}
	.cateogory-container-batch-icons {
		padding: 0.3em;
		font-size: 1em;
	}
}

@media screen and (max-width: 660px) {
	.icons-cateogry-layer {
		width: 80vw;
	}
	.category-layer-img{
		height: 1.2em;
	}
	.cateogory-container-batch-icons {
		padding: 0.2em;
		font-size: 0.9em;
	}
}

@media screen and (max-width: 480px) {
	.icons-cateogry-layer {
		width: 83vw;
	}
	.category-layer-img{
		height: 1em;
	}
	.cateogory-container-batch-icons {
		padding: 0.2em;
		font-size: 0.7em;
	}
	form{
		width: 100%;
		margin: 0.5em 0;
	}
}

@media screen and (max-width: 360px) {
	.icons-cateogry-layer {
		width: 80vw;
	}
	.category-layer-img{
		height: 1em;
	}
	
	.cateogory-container-batch-icons {
		padding: 0.1em;
		font-size: 0.7em;
	}
}
