.liked-list-container {
	display: flex;
	padding: 1em;
	justify-content: start;
	flex-wrap: wrap;
}


.holders{
    width: 25vw;
	height: auto;
	margin: auto;
}
.liked-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
}