.liked-delete {
	position: absolute;
	z-index: 999;
	right: 1em;
    top: 1em;
	/* background-color: var(--shade-7); */
}

.liked-delete:hover {
	color: red;
	transform: scale(1.02);
}

.transparent {
	background: transparent;
}

.liked-content{
	width: 100%;
}