.auth-sidebar {
	position: relative;
	color: #000;
	background: #f1cdd7;
	color: #865c6c;
	background: linear-gradient(12deg, #3b5258 20%, #899ca8);
	color: white;
}

.content {
	width: 100%;
	background: #d2c9ff;
}

.auth-nav p {
	flex-grow: 1;
	margin: 0;
	text-align: right;
}

.auth-sidebar .artwork {
	display: none;
}

main {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 0 20px;
}
.signup-remember-container{
	font-size: 1.5rem;
}
/* general signup */
.signup-body-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
	box-shadow: 0 4px 2px rgba(0, 0, 0, 0.02), 0 8px 16px rgba(0, 0, 0, 0.03),
		0 16px 10px rgba(0, 0, 0, 0.04), 0 26px 18px rgba(0, 0, 0, 0.05);
	margin: 3em;
	background-color: #ffdd61;
}

.signup-container {
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    /* max-width: 60vw; */
    height: -moz-fit-content;
    height: fit-content;
    border-radius: var(--border-radius);
    font-size: 1.5em;
    padding: 2rem 0;
    grid-gap: 1em;
	gap: 0.5em;
    border-radius: 2em;
	width: 80%;
}
.header{
	margin: auto;
	padding: 1em;
	color: white;
}

.header > div{
	color: white;
}

.signup-credential-container {
	min-width: 70%;
}

.signup-credential-container > input {
	width: 100%;
	padding: 0.5em;
	/* margin: 1em; */
	border-radius: 0.5em;
	border: 2px solid transparent !important;
	outline: none;
	font-size: 1.5rem;
    background-color: #e8f0fe !important;
}

.password-holder > input{
	width: 80%;
	padding: 0.5em;
	margin: 0 0 0 0.5em;
	border: 2px solid transparent !important;
	outline: none;
	font-size: 1.5rem;
    background-color: #e8f0fe !important;

}

.password-holder{
	align-items: center;
    display: flex;
    margin: 0.5em;
    background: #e8f0fe;
    justify-content: space-around;
	border-radius: 0.5em;
	width: 100%;
}

.signup-credential-container>label {
	font-weight: 500;
}

.signup-rem-forgetpass-container {
	display: flex;
	justify-content: space-between;
	font-size: 0.7em;
	gap: 1em;
}

.signup-action-btn {
	display: block;
	font-size: 2rem;
}

.signup-btn-container {
	/* width:70%    */
	padding: 1em;
}

.signup-btn-container-body {}

.title-header {
	font-size: 3rem;
	font-weight: 700;
	width: 100%;
	padding: 1em;
}

.signup-footer {
	display: flex;
	align-items: center;
	text-decoration: none;
	justify-content: center;
	font-size: 1.5rem;
}

.signup-footer {
	cursor: pointer;
}

.animation-signup-1 {
	border: none;
}

.signup-logo {
	max-width: 30vw;
	height: 50vh;
}

.error {
	color: red;
	font-weight: 500;
	font-size: 0.6em;
}

.btn-link {
	margin: auto;
	border: 1px solid transparent;
}

button:disabled {
	cursor: not-allowed;
}

@media screen and (max-width: 800px) {
	.signup-container {
		width: 100vw;
	}

	.signup-logo {
		display: none;
	}
}

@media (min-width: 960px) {
	.signup-main-container {
		display: flex;
		flex-direction: row;
		height: 100%;
		overflow: hidden;
	}

	.auth-sidebar {
		flex-grow: 0;
		width: 450px;
	}

	.auth-sidebar .auth-sidebar-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
	}

	.sign-in .auth-sidebar,
	.forgot-password .auth-sidebar,
	.reset-password .auth-sidebar {
		background: #f1cdd7;
		color: #865c6c;
	}

	.content {
		display: flex;
		flex: 1;
		flex-direction: column;
		overflow: auto;
	}

	.auth-nav {
		display: flex;
		flex-grow: 0;
		align-items: center;
		justify-content: flex-end;
		padding: 30px 30px 0;
	}

	.auth-sidebar .artwork {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: flex-end;
	}

	main {
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
	}
}
