.cart-card > .badge {
	cursor: pointer;
	width: 2em;
	height: 2em;
	display: flex;
    flex-direction: row;
    gap: 7px;
    padding: 3px;
    box-shadow: 0 4px 2px rgb(0 0 0 / 20%), 0 8px 16px rgb(0 0 0 / 20%), 0 16px 10px rgb(0 0 0 / 1%), 0 26px 18px rgb(0 0 0 / 10%);
	
    background-color: white;
}


.elipsis {
	text-overflow: ellipsis;
	width: 20rem;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
}
.cart-card {
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0.2);
}

.cart-card > .card-footer > .card-footer-view {
	background-color: transparent;
}
.card-img {
	height: 19rem;
	object-fit: cover;
	border-radius: 1px;
}
.card-content {
	padding: 1rem;
}
.card-body {
	display: flex;
	font-size: 1em;
	justify-content: start;
	align-items: start;
	flex-direction: column;
}
.cart-card {
	height: fit-content;
	width: 23rem;
	font-size: 0.8em;
}

.card-title span,
h2 {
	font-size: 1.5rem;
	color: black;
}
.cart-card:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 2px rgba(0, 0, 0, 0.02), 0 8px 16px rgba(0, 0, 0, 0.03),
		0 16px 10px rgba(0, 0, 0, 0.04), 0 26px 18px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.discount-price {
	color: red;
	margin: 1.2rem;
}

.cart-card > .card-footer > .card-footer-view > button {
	padding: 0;
	align-items: center;
	display: flex;
	font-size: 0.8em;
}

@media screen and (max-width: 1030px) {
	.cart-card {
		height: fit-content;
		width: 21rem;
	}
	.elipsis {
		width: 15rem;
	}
}

@media screen and (max-width: 780px) {
	.cart-card {
		width: 20rem;
		font-size: 1rem;
	}
	.card-img {
		height: 17rem;
	}
	.card-title span,
	h2 {
		font-size: 1.3rem;
	}
	.card-content {
		font-size: 1.4rem;
	}
	.elipsis {
		width: 13rem;
	}
}

@media screen and (max-width: 660px) {
	.cart-card {
		width: 15rem;
		font-size: 0.85rem;
	}
	.card-img {
		height: 15rem;
	}
	.card-title span,
	h2 {
		font-size: 1.2rem;
	}
	.card-content {
		font-size: 1.3rem;
	}
	.elipsis {
		width: 11rem;
	}
}

@media screen and (max-width: 480px) {
	.cart-card {
		width: 13rem;
		font-size: 0.75rem;
	}
	.card-img {
		height: 13rem;
	}
	.card-title span,
	h2 {
		font-size: 1.1rem;
	}
	.card-content {
		font-size: 1.2rem;
	}
	.elipsis {
		width: 9rem;
	}
}

@media screen and (max-width: 360px) {
	.cart-card {
		width: 10rem;
		font-size: 0.65rem;
	}
	.card-img {
		height: 10rem;
	}
	.card-title span,
	h2 {
		font-size: 1rem;
	}
	.card-content {
		font-size: 1.1rem;
	}
	.elipsis {
		width: 9rem;
	}
}
