.cart-card > .badge {
	cursor: pointer;
	width: 2em;
	height: 2em;
	display: flex;
    flex-direction: row;
    gap: 7px;
    padding: 3px;
    box-shadow: 0 4px 2px rgb(0 0 0 / 20%), 0 8px 16px rgb(0 0 0 / 20%), 0 16px 10px rgb(0 0 0 / 1%), 0 26px 18px rgb(0 0 0 / 10%);

}

.elipsis {
	text-overflow: ellipsis;
	width: 20rem;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	color: var(--bold-blue-color);
    font-weight: 800;
}

.elipsis:hover{
	color: var(--boldy-dark-purple);
}
.cart-card {
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0.2);
}

.cart-card > .card-footer > .card-footer-view {
	background-color: transparent;
}
.cart-card > .card-img {
	height: 19rem;
	object-fit: contain;
}
.card-content {
	padding: 1rem;
	background: linear-gradient(12deg, #64797e 20%, #d8b681);
	color: var(--bold-blue-color);
    font-weight: 600;
}

.card-content:hover{
	color :var(--boldy-dark-purple);
}
.card-body {
	display: flex;
	font-size: 1em;
	justify-content: start;
	align-items: start;
	flex-direction: column;
}
.cart-card {
	height: fit-content;
	width: 23rem;
	font-size: 0.8em;
}

.card-title span,
h2 {
	font-size: 1.5rem;
	color: black;
}
.cart-card:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 2px rgba(0, 0, 0, 0.02), 0 8px 16px rgba(0, 0, 0, 0.03),
		0 16px 10px rgba(0, 0, 0, 0.04), 0 26px 18px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.discount-price {
	color: red;
	margin: 1.2rem;
}

.cart-card > .card-footer > .card-footer-view > button {
	padding: 0;
	align-items: center;
	display: flex;
	font-size: 0.8em;
}

.stretch{
	width: 100%;
}

a{
	width: 100%;
}

.video-badge-container{
	height: fit-content !important;
	width: fit-content !important;
	border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.video-badge-container span:hover{
	color: black;
}

.like-badge{
	color: #27474e;
}

@media screen and (max-width: 1030px) {
	.cart-card {
		height: fit-content;
		width: 18rem;
	}
	.elipsis {
		width: 15rem;
	}
	.elipsis-md{
		width: 13rem !important;
	}
}

@media screen and (min-width : 780px) {
	.cart-card{
		max-width: 50vw;
	}
	
}

@media screen and (max-width: 780px) {
	.cart-card {
		width: 14rem;
		font-size: 1rem;
	}
	.cart-card > .card-img {
		height: 12rem;
	}
	.card-title span,
	h2 {
		font-size: 1.3rem;
	}
	.card-content {
		font-size: 1.4rem;
	}
	.elipsis {
		width: 13rem;
	}
	.elipsis-md{
		width: 11rem !important;
	}
}

@media screen and (max-width: 660px) {
	.cart-card {
		width: 15rem;
		font-size: 0.85rem;
	}
	.cart-card > .card-img {
		height: 13rem;
	}
	.card-title span,
	h2 {
		font-size: 1.2rem;
	}
	.card-content {
		font-size: 1.3rem;
	}
	.elipsis {
		width: 11rem;
	}
	.elipsis-md{
		width: 9rem !important;
	}
}

@media screen and (max-width: 480px) {
	.cart-card {
		width: 17rem !important;
		font-size: 0.75rem;
	}
	.cart-card > .card-img {
		height: 11rem;
	}
	.card-title span,
	h2 {
		font-size: 1.1rem;
	}
	.card-content {
		font-size: 1.2rem;
	}
	.elipsis {
		width: 9rem;
	}
	.elipsis-md{
		width: 7rem !important;
	}
}

@media screen and (max-width: 360px) {
	.cart-card {
		/* width: 10rem !important;
		font-size: 0.65rem; */
		width: 100% !important;
    font-size: 0.65rem;
    transform: scale(1.01);
	}
	.cart-card > .card-img {
		height: 8rem;
	}
	.card-title span,
	h2 {
		font-size: 1rem;
	}
	.card-content {
		font-size: 1.1rem;
	}
	.elipsis {
		width: 9rem;
	}
	.elipsis-md{
		width: 6rem !important;
	}
}
