.auth-sidebar {
	position: relative;
	color: #000;
	background: #f1cdd7;
	color: white;
	background-color: var(--sidenav-color);
}

.content {
	width: 100%;
	min-height: 100vh;
}

.auth-nav {
	flex-grow: 1;
	text-align: right;
	padding-top: 1em;
}

 
.header{
	margin: auto;
	padding: 1em;
	color: white;
}

.header > div{
	color: white;
}

.auth-sidebar .artwork {
	display: none;
}

main {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 0 20px;
}

/* general login */
.login-body-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
	box-shadow:var(--shadow-box);
	margin: 3em;
	background-color: #ffdd61;
}

.login-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: transparent;
	/* max-width: 60vw; */
	height: fit-content;
	border-radius: var(--border-radius);
	font-size: 1.5em;
	padding: 2rem 0;
	gap: 1em;
	border-radius: 2em;
	width: 80%;
}

.login-credential-container {
	max-width: 90%;
}
.login-credential-container {
	min-width: 70%;
    display: block;
    padding: 0.5em;
    margin: 1em auto;
    border-radius: 0.5em;
    border: 2px solid #ffffff !important;
    outline: none;
    background-color: #f0f0ff !important;
}

.login-credential-container > label {
	font-weight: 500;
}

.login-rem-forgetpass-container {
	display: flex;
	justify-content: space-between;
	font-size: 0.7em;
	gap: 1em;
	padding: 0 1em;
}

.login-action-btn {
	display: block;
	font-size: 2rem;
}

.login-btn-container {
	/* width:70%    */
	padding:1em	 1em 0;
	justify-content: center;
    align-items: center;
    display: flex;
    padding: 1em 1em 0;
}

.login-btn-container-body {
	width: 50%;
}

.title-header {
	font-size: 3rem;
	font-weight: 700;
	width: 100%;
	padding: 1em;
}

.login-footer {
	display: flex;
	align-items: center;
	text-decoration: none;
	justify-content: center;
}

.login-footer {
	cursor: pointer;
	text-align: end;
}

.animation-login-1 {
	border: none;
}

.login-logo {
	max-width: 30vw;
	height: 50vh;
}
.error {
	color: red;
	font-weight: 500;
}

.btn-link {
	margin: auto;
	border: 1px solid transparent;
}

button:disabled {
	cursor: not-allowed;
}

.login-action-container{
	display: flex;
    width: 50%;
    align-items: center;
}
@media screen and (max-width: 800px) {
	.login-container {
		width: 100vw;
	}
	.login-logo {
		display: none;
	}
}
@media (min-width: 960px) {
	.login-main-container {
		display: flex;
		flex-direction: row;
		height: 100%;
		overflow: hidden;
	}
	.auth-sidebar {
		flex-grow: 0;
		width: 450px;
	}
	.auth-sidebar .auth-sidebar-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
	}

	.sign-in .auth-sidebar,
	.forgot-password .auth-sidebar,
	.reset-password .auth-sidebar {
		background: #f1cdd7;
		/* color: #865c6c; */
		color: white;
	}
	.content {
		display: flex;
		flex: 1;
		flex-direction: column;
		overflow: auto;
	}

	.auth-nav {
		display: flex;
		flex-grow: 0;
		align-items: center;
		justify-content: flex-end;
		padding: 30px 30px 0;
	}
	.auth-sidebar .artwork {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: flex-end;
	}
	main {
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
	}
}
