.carousel .thumbs-wrapper {
	display: none;
}

.carosel-body {
	height: 60vh;
	width: 100%;
}

.carousel.carousel-slider {
	height: 60vh;
}
img {
	object-fit: cover;
}



@media screen and (max-width: 1030px) {

}

@media screen and (max-width: 780px) {

}

@media screen and (max-width: 660px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 360px) {

}

