.carousel .thumbs-wrapper {
	display: none;
}

.carosel-body {
	height: 60vh;
	width: 100%;
}

.carousel.carousel-slider {
	height: 60vh !important;
}
img {
	object-fit: cover;
}



/* @media screen and (max-width: 1030px) {
	.carosel-body{
		height: fit-content;
	}
	.carousel .carousel-slider {
		height: fit-content;
	}
} */

@media screen and (max-width: 780px) {
	.carosel-body{
		height: fit-content;
	}
	.carousel .carousel-slider {
		height: fit-content;
	}
}

@media screen and (max-width: 660px) {
	.carosel-body{
		height: fit-content;
	}
	.carousel .carousel-slider {
		height: fit-content;
	}
}

@media screen and (max-width: 480px) {
	.carosel-body{
		height: fit-content;
	}
	.carousel .carousel-slider {
		height: fit-content;
	}
}

@media screen and (max-width: 360px) {

}

