.playlistmodal-contatiner {
	/* position: fixed; */
	/* top: 25%;
    left: 25%; */
	display: flex;
	flex-direction: column;
	margin: 1em;
	padding: 1em;
	background-color: var(--shade-0);
	/* border-radius: 1rem; */
	/* position: fixed;	 */
	width: fit-content;
	min-width: fit-content;
    width: 30vw;
}

.playlist-list {
	background-color: rgba(0, 0, 0, 0.01);
}

.dialog-body-item{
	color :var(--shade-9)
}

.confirmation-body{
	max-height: 15rem;
	height: fit-content;
}
.dailog-header{
	color :var(--shade-9);
	justify-content: space-between;
	align-items: center;
    display: flex;
    font-size: 1.5em;
}

.dialog{
	height: fit-content;
	max-width: 70%;
	left: 25%;
    bottom: 10%;
}

.dailog-footer > button{
	background: rgb(189, 189, 189);
}

.dailog-footer > button:hover {
	transform: scale(1.01);
	background: var(--shade-9);
	color: white;
}

.modal-body-main-container{
	position: fixed;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	top: 0;
    left: 0;
}