* {
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	font-size: calc(10px + 1vmin);
	/* color: white; */
	text-decoration: none;
}

:root {
	--nav-color: #282c34;
	--hover-color: #539987;
	--shadow-box: 0 4px 2px rgba(0, 0, 0, 0.02), 0 8px 16px rgba(0, 0, 0, 0.03),
	0 16px 10px rgba(0, 0, 0, 0.04), 0 26px 18px rgba(0, 0, 0, 0.05);
	--sidenav-color: #f0f0ff;


	--primary-color :#6c63ff;
	--primary-hover-color:#b0abff;
	--primary-dark-color:#564fcc;
	--primary-color-shade1:#5752c2;;
	--dark-theme-color:#3d3d3d;
	--dark-theme-bg :rgba(0, 0, 0, 0.1);
}

body{
	background-color: var(--dark-theme-bg);
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 1rem;
}
body::-webkit-scrollbar-track {
	background-color: var(--dark-theme-color);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--primary-color-shade1);
	border-radius: 1rem;
	border: 3px solid var(--dark-theme-color);
}

body::-webkit-scrollbar:hover {
	/* transform: scale(1.2); */
	cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}



@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}



/* MAin */
.main-container {
	display: flex;
	background-color: var(--nav-color);
	flex-direction: column;
}

.main-body {
	display: flex;
	background-color: var(--dark-theme-bg );
	width: 100%;
	min-height: 100vh;
	position: relative;
}

.Navbar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.AsideNav {
	display: flex;
	/* flex-basis: 15%; */
	min-width: 20vw;
	background-color: var(--dark-theme-bg) ;
	flex-direction: column;
	padding-top: 1em;
	padding: 0.5em;
	align-items: center;
    position: sticky;
    top: 0;
    height: 100vh;
	min-width: 230px;

}
.sm-txt {
	font-size: 0.4em;
}

.md-txt {
	font-size: 0.6em;
}

.lg-txt {
	font-size: 0.8em;
}

.xlg-txt {
	font-size: 1em;
}

.xxlg-txt {
	font-size: 1.3em;
}
.big-txt {
	font-size: 3em;
}

input {
	margin: 0.2em;
}

span {
	font-size: 0.8em;
}

span:hover {
	color: var(--primary-dark-color);
}


.stretch{
	width: 100%;
}

.title-name{
	color: red;
}

.page-title{
	font-size: 1.5em;
	color: var(--hover-color);
	font-weight: 800;
}

.nocontent{
	display: flex;
	flex-wrap: wrap;
	padding: 1em;
	flex-direction: column;
	width: 100%;
}

.channel-img{
	height: 1.5em;
	width: 1.5em;
	border-radius: 50%;
}

.card-body-channel{
	display: flex;
    justify-content: flex-start;
    font-size: 1.2em;
	align-items: center;
}

.pd-btm{
	padding-bottom: 2px;
}

/* regular content */
.full-width{
	width: 100%;
}

.text-start{
	text-align: start;
}
.text-align{
	text-align: center;
}

.hover {
	color: var(--primary-dark-shade-color);
}
.hover:hover {
	color: var(--primary-color);
	cursor: pointer;
}

.stretch {
	width: 100%;
}

.fn-wg-800 {
	font-weight: 800;
}

.fn-wg-700 {
	font-weight: 700;
}

.fn-wg-600 {
	font-weight: 600;
}

.pd-5 {
	padding: 5px;
}
.pd-10 {
	padding: 10px;
}
.cursive {
	font-family: cursive;
}

.font-family{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.underline {
	text-decoration: underline;
}

.align-center {
	align-items: center;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	flex-wrap: wrap;
}

.flex-cln {
	display: flex;
	flex-direction: column;
}

.space-btwn {
	justify-content: space-between;
}

.flex {
	display: flex;
	gap: 5px;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.full-input {
	width: 100%;
	background-color: var(--secondary-color);
}

.cta-txt{
	color: var(--primary-color);
}

.action-btn{
	font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 3em;
    /* margin: auto; */
    grid-gap: 0.5em;
    gap: 0.5em;
    color: white;
    background-color: var(--primary-color);
    border: none;
    outline: none;
	cursor: pointer;
	transition: background-color 2s ease;
}


.action-btn:hover{
	transform: scale(1.03);
	background-color: var(--primary-hover-color);
}

.logo{
	width: 3em;
	height: 3em;
}

.white-txt{
	color: white;
}

/* all cards */


.cart-card > .badge:hover{
	transform: scale(1.03) !important;
	transition: background-color 2s ease !important;
}

.cart-card:hover{
	transform: scale(1.01) !important;
	transition: scale 2s ease !important;
}

.cart-card {
    flex-grow: 1 !important;
}