.videolist-container {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem 0;
}

.category-title{
	font-size: 2em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: var(--hover-color);
	display: flex;
	background-color: rgba(0,0,0,0.1);
    padding: 10px;
}


/* //linear-gradient(12deg, #64797e 20%, #d8b681) */
/* linear-gradient(12deg, #3b5258 20%, #899ca8) */

.category-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1em;
}
.cateogory-container-item{
	padding: 0.5em;
	margin: 0.3em;
	background: linear-gradient(12deg, #3b5258 20%, #899ca8);
	min-width: 30%;
	color:white;
	border-radius: 0.3em;
	cursor: pointer;
	flex-grow: 1;
}
.cateogory-container-item:hover{
	transform: scale(1.05);
}

hr{
	color: var(--primary-color);
}